.home {
  padding: 10px;
}

.banner {
  background-color: var(--primary);
  padding: 60px 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
}
.banner:hover {
  background-color: var(--primary-dark);
  transition: background-color 0.3s;
}


